  
  .date-range-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Adds automatic margin on the sides to center the container, and optional margin on top and bottom */
    padding: 5px 0; /* Adds some space inside the container around your content */
  }
  
  .date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1vw; /* Adds automatic margin on the sides to center the container, and optional margin on top and bottom */
    max-width: 40vw; /* Ensures the width does not exceed 40% of the viewport width */
  }

  .centered-container {
    display: flex;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; /* Centers the child vertically (if needed) */
    width: 80vw; /* Sets the width to 80% of the viewport width */
    max-width: 80vw; /* Ensures the width does not exceed 80% of the viewport width */
    margin: 0 auto; /* Adds automatic margin on the sides to center the container, and optional margin on top and bottom */
    padding: 5px; /* Adds some space inside the container around your content */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }

  
  .plot {
    display: flex;
    justify-content: center; /* Centers the child horizontally */
    align-items: center; /* Centers the child vertically (if needed) */
    width: 80vw; /* Sets the width to 80% of the viewport width */
    max-width: 80vw; /* Ensures the width does not exceed 80% of the viewport width */
    margin: 0 auto; /* Adds automatic margin on the sides to center the container, and optional margin on top and bottom */
    padding: 20px; /* Adds some space inside the container around your content */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }
  

.rounded-border{
  border-radius: 30px;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin: 0 auto; /* Adds automatic margin on the sides to center the container, and optional margin on top and bottom */
  min-width: 35vw; /* Sets the width to 35% of the viewport width */
  max-width: 55vw; /* Ensures the width does not exceed 40% of the viewport width */
  border-radius: 30px;
}